---
import { clsx } from 'clsx'
import { links, SiteTitle } from '../consts.ts'
---

<header>
  <nav class='flex justify-between items-center p-4 border-b border-b-neutral-200'>
    <a href='/' class='flex items-center gap-2 font-semibold text-(--red-9) font-\[Roboto_Slab_Variable\]'>
      <img
        class='shrink-0 size-8'
        src='https://retroassembly.com/assets/logo/logo-192x192.png'
        alt='RetroAssembly Logo'
      />
      {SiteTitle}
    </a>

    <div class='text-sm lg:flex gap-6 hidden'>
      {
        links.map((link) => (
          <a
            href={link.url}
            class={clsx('inline-flex items-center gap-1 text-(--red-9)', {
              'bg-(--red-9) font-semibold text-white rounded px-6 py-1': link.title === 'Blog',
            })}
          >
            <span class={link.icon} />
            {link.title}
          </a>
        ))
      }
    </div>
  </nav>
</header>
