---
import '../styles/global.css'
import type { Props as HeadProps } from './base-head.astro'
import BaseHead from './base-head.astro'
import Footer from './footer.astro'
import Header from './header.astro'

type Props = HeadProps

const { ...head } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead {...head} />
  </head>
  <body>
    <Header />
    <main class='max-w-full px-4 w-6xl mx-auto'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
